// FONT IMPORT
@import url("https://fonts.googleapis.com/css2?family=Belanosima:wght@400;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Belanosima", sans-serif;
}
html {
  background-image: linear-gradient(to right, red 30%, orange 70%);
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 15px;
}
