// STYLES
@import "@styles/NavButton.scss";

.results {
  display: flex;
  flex-direction: column;
  gap: 3px;

  .resUnderlayer {
    @include buttonComp(
      linear-gradient(to right, red 35%, orange 65%),
      auto,
      0px
    );
    .resButton {
      @include button();
      text-transform: uppercase;
    }
  }
}
